AlmostPerfect/nbproject/private/private.properties
*.class
AlmostPerfect/build/web/gfv3ee6.dpf
*.properties
*.jar
*.properties
AlmostPerfect/nbproject/private/private.properties
AlmostPerfect/nbproject/private/private.xml
AlmostPerfect/nbproject/project.properties
AlmostPerfect/nbproject/project.xml
AlmostPerfect/nbproject/genfiles.properties